.passwordBox{
    position: relative;
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
}

.passwordBox #modalOpen{
    position: absolute;
    font-size: 3rem;
    right: -30px;
    top: -30px;
    color: rgb(92, 5, 109);
    cursor: pointer;
    transition: .1s;
}

.passwordBox #modalOpen:active{
    transform: scale(.8);
}
.passwordBox h1{
    transition: 0.4s;
    cursor: pointer;

}
.passwordBox h1:hover{
    box-shadow: 0px 1px 156px -10px rgb(92, 5, 109);
}

.passwordBox div{
    display: flex;
    gap: 1.5rem;
}
.passwordBox button{
    background-color: rgb(29, 28, 28);
    padding: 0.6rem 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
}

.passwordBox button:active{
    border: 3px solid rgb(92, 5, 109);

}
.passwordBox .generatedPassword{
    background-color: rgb(29, 28, 28);
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid transparent;
    overflow: hidden;
}

.passwordBox .generatedPassword:active{
    border: 3px solid rgb(92, 5, 109);
}

.active{
    height: 120%;
    width: 105%;
}

.disabled{
    border: none;
    width: 0;
    height: 0;
}


@media screen and (max-width: 468px) {
  .passwordBox {
    width: 220px;
  }
}