*{
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}